@import "scss/variables";
@import "scss/mixin";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  #page {
    header {
      .head-title {
        background-color: #013299;

        p {
          color: #fff;
          text-align: center;
        }
      }
      .firstnav {
        position: sticky;
        z-index: 400;
        @include mobile {
          display: flex;
          flex-wrap: nowrap;
        }

        .middle-head {
          display: flex;
          justify-content: space-between;
          @include mobile {
            align-items: center;
            order: 2;
          }
          .search {
            margin-left: 14px;
            height: 25px;
            @include mobile {
              margin-left: 2px;
            }

            form {
              button {
                border: none;
                img {
                  width: 24px;
                }
              }

              input {
                border: none;

                @include mobile {
                  display: none;
                }
              }
            }
          }

          .logo {
            @include mobile {
              margin-left: 30px;
            }
            img {
              width: 125px;
              height: 31px;
            }
          }

          .account {
            margin-left: 10px;
            margin-right: 14px;
            display: flex;
            justify-content: space-between;
            .main-a {
              margin: 0px 5px;
              text-decoration: none;
              color: #838383;
              @include mobile {
                display: none;
              }
            }
            .acc {
              @include mobile {
                display: flex;
                flex-direction: row;
                margin-left: 22px;
              }
              .bag {
                margin: 0px 5px;
                text-decoration: none;
                @include mobile {
                  margin: 0;
                 
                  margin-left: 10px;
                }
                img {
                  width: 24px;
                  @include mobile {
                    display: block;
                  }
                }
              }
              .account-mobile {
                display: none;

                @include mobile {
                  display: block;
                  margin-right: 10px;
                }
                img {
                  width: 24px;
                }
              }
            }
          }
        }

        .nav-bar {
          nav {
            border: 2px solid #e2e2e2;
            margin-top: 10px;

            @include mobile {
              border: none;
              width: 80px;
              height: 60px;
            }

            .menu {
              justify-content: center;
   .navbar-nav{
     .nav-item{

     }
     .dropdown{
       
      .dropdown-toggle{

      }
      .dropdown-menu{
       
         &:hover{

         }
      }
      

     }
   }

            }
          }
        }
      }
    }

    main {
      .carousel {
        @include mobile {
          display: flex;
          flex-direction: column;
        }
        .carousel-inner {
          .carousel-item {
            .img {
              height: 720px;
              transition: 3ms;
              @include mobile {
                height: auto;
              }
            }
            .img1 {
              height: 720px;
              transition: 3ms;

              @include mobile {
                height: 211.72px;
              }
            }
            .carousel-caption {
              @include mobile {
                position: static;
                width: auto;
                padding: 60px;
              }

              width: 35rem;
              font-family: "Castoro", serif;
              right: 83%;
              bottom: 31%;
              left: 0%;
              .p-1 {
                @include mobile {
                  color: #697886;
                }
              }
              .p-2 {
                font-size: 3rem;
                @include mobile {
                  color: #333029;
                  font-size: 22px;
                }
              }
              .p-3 {
                font-size: 1.2rem;
                @include mobile {
                  color: #697886;
                }
              }
              button {
                background-color: white;
                color: #888888;
                border-color: #fff;
                @include mobile {
                  border: 1px solid black;
                }
                &:hover {
                  background-color: black;
                  color: #fff;
                  border-color: black;
                }
              }
            }
            .slide-2 {
              @include mobile {
                position: static;
                width: auto;
                padding: 60px;
              }

              width: 35rem;
              font-family: "Castoro", serif;

              bottom: 49%;
              left: 70%;
              .p-1 {
                @include mobile {
                  color: #697886;
                }
              }
              .p-2 {
                font-size: 3rem;
                @include mobile {
                  color: #333029;
                  font-size: 22px;
                }
              }
              .p-3 {
                font-size: 1.2rem;

                @include mobile {
                  color: #697886;
                }
              }
              button {
                background-color: white;
                color: #888888;
                border-color: #fff;
                @include mobile {
                  border: 1px solid black;
                }
                &:hover {
                  background-color: black;
                  color: #fff;
                  border-color: black;
                }
              }
            }
          }
        }
      }
      .title {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 110px 0;
        @include mobile {
          margin: 110px 20px;
        }
        p {
          width: 720px;
          font-size: 21px;
          color: #637381;
        }
      }

      .poster {
        @include mobile {
          display: none;
        }
        margin: 0;
        padding: 0;
        justify-content: space-evenly;
        .left {
          a {
            img {
              width: 685px;
              height: 460px;
            }
          }
          .text-left-img {
            background-color: #fff;
            position: relative;
            bottom: 19%;
            z-index: 10;
            width: 342.5px;
            height: 114.3px;
            line-height: 1rem;
            padding: 15px;
            .p1 {
              font-size: 12px;
              margin-top: 8px;
              color: #637381;
              font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
                sans-serif;
            }
            .p2 {
              color: #333029;
              font-size: 21px;
              font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
                sans-serif;
            }
            a {
              color: #637381;
              font-size: 12px;
              text-decoration: underline;
            }
          }
        }

        .right {
          a {
            img {
              width: 685px;
              height: 460px;
            }
          }
          .text-right-img {
            background-color: #fff;
            position: relative;
            bottom: 19%;
            z-index: 10;
            width: 342.5px;
            height: 114.3px;
            line-height: 1rem;
            padding: 15px;
            .p1 {
              font-size: 12px;
              margin-top: 8px;
              color: #637381;
              font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
                sans-serif;
            }
            .p2 {
              color: #333029;
              font-size: 21px;
              font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
                sans-serif;
            }
            a {
              color: #637381;
              font-size: 12px;
              text-decoration: underline;
            }
          }
        }
      }
      .poster-mobile {
        display: none;
        @include mobile {
          display: block;
          .carousel {
            .carousel-inner {
              .carousel-item {
                img {
                  height: 410px;
                }
              }
              .text-left-img-mobile {
                width: 256px;
                height: 110px;
                background-color: #fff;
                position: absolute;
                bottom: 19%;
                z-index: 10;
                line-height: 1rem;
                padding: 15px;
                .p1 {
                  font-size: 12px;

                  color: #637381;
                  font-family: "Gill Sans", "Gill Sans MT", Calibri,
                    "Trebuchet MS", sans-serif;
                }
                .p2 {
                  color: #333029;
                  font-size: 18px;
                  font-family: "Gill Sans", "Gill Sans MT", Calibri,
                    "Trebuchet MS", sans-serif;
                }
                a {
                  color: #637381;
                  font-size: 15px;
                  text-decoration: underline;
                }
              }

              .text-right-img-mobile {
                width: 256px;
                height: 110px;
                background-color: #fff;
                position: absolute;
                bottom: 19%;
                z-index: 10;
                line-height: 1rem;
                padding: 15px;

                .p1 {
                  font-size: 12px;
                  margin-top: 8px;
                  color: #637381;
                  font-family: "Gill Sans", "Gill Sans MT", Calibri,
                    "Trebuchet MS", sans-serif;
                }
                .p2 {
                  color: #333029;
                  font-size: 21px;
                  font-family: "Gill Sans", "Gill Sans MT", Calibri,
                    "Trebuchet MS", sans-serif;
                }
                a {
                  color: #637381;
                  font-size: 12px;
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
      .learnmore {
        margin: 0;
        padding: 80px;
        @include mobile {
          padding: 0px;
        }

        background-color: #f6f6f6;
        .leftcol {
          img {
            height: auto;
            @include mobile {
              height: 223px;
              margin-top: 30px;
            }
          }
        }
        .rightcol {
          margin-top: 3.2rem;

          span {
            font-size: 12px;
          }
          h1 {
            font-size: 28px;
            margin: 11px 0;
          }
          p {
            font-size: 15px;
          }
          .btn {
            background-color: #013299;
            padding: 16px 75px;
            margin-top: 80px;

            &:hover {
              background-color: black;
              border-color: black;
            }
          }
        }
      }

      .layout {
        margin: 0;
        padding: 0;
        margin-top: 1rem;
        .left-layout {
          @include mobile {
            order: 2;
            padding: 2rem;
          }
          align-self: center;
          padding: 10rem;
          div {
            @include mobile {
              width: auto;
            }
            height: 70px;
            width: 480px;
            text-align: center;
            margin-left: 15%;

            span {
              font-size: 12px;
              color: #637381;
            }

            h1 {
              font-size: 28px;
              columns: #333029;
            }
            p {
              font-size: 15px;
              color: #637381;
            }
            .btn {
              color: black;
              background-color: #fff;
              border-color: black;
              width: 140px;
              height: 50px;
              padding: 11px;
              margin-top: 20px;
              &:hover {
                cursor: pointer;
                background-color: black;
                color: #fff;
              }
            }
          }
        }
        .right-layout {
          @include mobile {
            padding-left: 15px;
            position: relative;
            width: 335px;
          }
          .first-img {
            position: relative;
            z-index: 1;
            width: 365px;
            height: 456px;
            top: 12%;
            left: 6%;
            @include mobile {
              width: 190px;
              height: 238px;
              top: 9%;
              left: 8%;
            }
          }

          .second-img {
            width: 365px;
            height: 456px;
            @include mobile {
              position: absolute;
              left: 45%;
              width: 190px;
              height: 238px;
            }
          }
        }
      }

      .video {
        padding-top: 80px;
        padding-bottom: 80px;
        position: relative;
        @include mobile {
          padding-top: 15em;
        }

        video {
          object-fit: cover;
          width: 100%;
          @include mobile {
            height: 460px;
          }
        }
        .overlay-text {
          position: absolute;
          text-align: center;
          top: 30em;
          left: 0;
          right: 0;
          color: #fff;
          @include mobile {
            left: auto;
            top: 23em;
          }
          h1 {
            font-size: 90px;
            @include mobile {
              font-size: 22px;
            }
          }
          p {
            font-size: 21px;
            @include mobile {
              font-size: 18px;
            }
          }
          .btn-video {
            color: black;
            background-color: #fff;
            border-color: black;
            width: 230px;
            height: 50px;
            padding: 11px;
            margin-top: 20px;
            &:hover {
              cursor: pointer;
              background-color: black;
              color: #fff;
            }
          }
        }
      }
      .sunglasses {
        display: flex;
        justify-content: space-evenly;
        margin-top: 2rem;
        @include mobile {
          flex-direction: column;

          padding: 10px;
        }

        h5 {
          @include mobile {
            margin-top: 20px;
          }
          color: #637381;
        }
        h3 {
          color: #637381;
        }

        .left-sunglasses {
          flex: 0 0 0;
          img {
            width: 685px;
            height: 685px;
            @include mobile {
              width: 335px;
              height: 335px;
            }
          }
        }
        .right-sunglasses {
          flex: 0 0 0;
          img {
            @include mobile {
              width: 335px;
              height: 335px;
            }
            width: 685px;
            height: 685px;
          }
        }
      }
      .bird {
        margin: 0;
        padding: 80px;
        background-color: #f6f6f6;
        @include mobile {
          padding: 8px;
        }

        .left-bird {
          color: #333029;
          text-align: center;
          align-self: center;
          @include mobile {
            order: 2;
            margin-top: 20px;
          }
          h6 {
            font-size: 12px;
          }
          h3 {
            font-size: 28px;
          }
          p {
            font-size: 15px;
          }
          a {
            background-color: #013299;
            border-color: #013299;
            &:hover {
              background-color: black;
              border-color: black;
            }
          }
        }
        .right-bird {
          img {
            width: 685px;
            height: 457px;
            @include mobile {
              width: 335px;
              height: 224px;
              margin-top: 30px;
            }
          }
        }
      }
      .blog {
        .blog-text {
          margin-top: 2rem;
          margin-bottom: 2rem;
          text-align: center;
        }

        .card-group {
          padding: 50px;
          @include mobile {
            padding: 15px;
          }
          .card {
            .card-body {
              .card-title {
                color: #333029;
              }
              .card-text {
                color: #637381;
              }
              .text-muted {
                color: #637381;
              }
            }
          }
        }
      }
      .last-main {
        display: flex;
        flex-direction: row;
        background-color: #013299;
        height: 397px;
        @include mobile {
          flex-direction: column;
          height: auto;
        }

        .direction {
          align-self: center;
          text-align: center;
          color: #fff;
          margin: 0 100px;
          @include mobile {
            margin: 0;
            padding: 50px;
          }
          h2 {
          }
          p {
            text-align: center;
            font-size: 15px;
            margin: 15px;
          }
          a {
            display: inline;
            background-color: #fff;
            border-color: #fff;
            img {
              width: 18px;
            }
            &:hover {
              background-color: black;
              color: #fff;
              border-color: black;
            }
          }
        }
        .photo {
          img {
            width: 466px;
            height: 397px;
            @include mobile {
              width: 100%;
            }
          }
        }
        .iframe {
          iframe {
            width: 862px;
            height: 397px;
            @include mobile {
              width: 100%;
            }
          }
        }
      }
    }
    footer {
      .first-foot {
        background-color: #f6f6f6;
        width: auto;
        display: flex;
        justify-content: space-evenly;

        height: 100px;
        padding: 20px;
        @include mobile {
          flex-direction: column;
          height: auto;
          align-items: center;
        }
        .delivery {
          text-align: center;

          img {
            width: 30px;
          }
          p {
            font-size: 18px;
            color: #333029;
          }
        }
        .location {
          text-align: center;

          img {
            width: 30px;
          }
          p {
            font-size: 18px;
            color: #333029;
          }
        }
        .gift {
          text-align: center;

          img {
            width: 30px;
          }
          p {
            font-size: 18px;
            color: #333029;
          }
        }
        .discount {
          text-align: center;

          img {
            width: 30px;
          }
          p {
            font-size: 18px;
            color: #333029;
          }
        }
      }
      .middle-foot {
        display: flex;
      padding: 60px;
        justify-content: space-around;
        @include mobile{
          flex-direction: column;
          padding: 10px;
          margin-top: 2rem;
        }
        h6{
          font-size: 17px;
          color: black;
        }
        .about-store {
          width: 460px;
          
          
          p {
            color: #939393;
          }
          i {
            font-size: 40px;
            color: #939393;
          }

          @include mobile{
            width: auto;

          }
        }
        .shop-foot {
           width: 180px;
           @include mobile{
            margin-top: 18px;
           }
          ul {
            a{
              text-decoration: none;
              color: inherit;
             
            }
          }
        }
        .help {
         width: 100px;
          ul {
            a{
              text-decoration: none;
              color: inherit;
            }
          }
        }
        .newsletter {
         width: 350px;
         @include mobile{
           width: auto;
         }
        
         
          input{
            font-family: 'Font Awesome 5 Brands';
            font-size: 23px;
            line-height: 40px;
          }
          a{
            background-color: #013299;
            color: #fff;
            margin-top: 10px;
            width: 131px;
            height: 50px;
            padding: 12px;
            border-radius: 0;
            &:hover{
              background-color: black;
              border-color: black;
              
            }
          }
        }
      
    }
  }
}
}